#biography
  padding: 0

  .section-information
    position: relative
    padding: 0
    font-size: $size-secondary
    text-align: center

  .section-picture
    text-align: center
    img
      border-radius: 32px

  #contact-me
    display: inline-block
    padding: 0px 6px 7px 0
    img
      padding: 0 5px

  .last-paragraph
    height: 60px

  .dialog
    padding: 10px 20px
    border-radius: 12px
    color: #FFF
    margin-bottom: 20px
    margin-top: 20px
    h4
      text-align: left
      line-height: 1.5em
      font-size: 1.25em
  .dialog-1
    background: #42CACA
  .dialog-2
    background: #5AF87C
  .dialog-3
    background: #31B0ED
  .dialog-4
    background: #42CACA
  .dialog-5
    background: #5AF87C
  .dialog-6
    background: #5AF87C

  .hidden-box
    color: #FFF

  .section-email,
  .section-phone
    padding: 0 5px
    display: -webkit-inline-box
    position: relative

  .icon-contact-me
    cursor: pointer

  .phone-box-tool,
  .email-box-tool
    position: absolute
    top: 41px
    padding: 5px
    background: #d9edf7
    color: #5EAFFF
    border-radius: 4px
    &:before
      content: ""
      display: block
      width: 0
      height: 0
      border-top: 0 solid transparent
      border-bottom: 15px solid #d9edf7
      border-right: 10px solid transparent
      position: absolute
      top: -8px
      border-left: 10px solid transparent

  .email-box-tool
    left: -76px
    &:before
      left: 93px

  .phone-box-tool
    width: 152px
    left: -50px
    &:before
      left: 67px

  a:hover
    text-decoration: none

