html,
body
  height: 100%
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif

.hidden-box
  background: none

#wrap
  min-height: 100%
  height: auto
  margin: 0 auto -60px
  padding: 0 0 60px

.container
  padding: 0

.page-header
  width: 95%
  margin: 0 auto
  display: block
  border: none

#footer
  height: 60px
  background-color: $basic-silver
  position: relative
  .container
    position: absolute
    height: 60px
    p
      margin: 0

.container.credit
  margin: 20px 0

.navbar-header
  .navbar-brand,
  .navbar-brand:hover
    background: $darker-color
    color: $secondary-color

.header
  margin-bottom: 0

.pull-right
  float: right

.pull-left
  float: left

.page-content
  display: -webkit-inline-box
  .col-md-3,
  .col-md-4,
  .col-md-6,
  .col-md-8,
  .col-md-12
    padding: 0
